<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="content">
<h2>회원 정보 입력</h2>
<form th:action="@{/sample/step2}" th:object="${member}" method="post">
    <p>
        <label>이메일:<br>
            <input type="email" th:field="*{email}" />
        </label>
    </p>
    <p>
        <label>이름:<br>
            <input type="text" th:field="*{username}" />
        </label>
    </p>
    <p>
        <label>비밀번호:<br>
            <input type="password" th:field="*{password}" />
        </label>
    </p>
    <p>
        <label>비밀번호 확인:<br>
            <input type="password" th:field="*{confirmPassword}" />
        </label>
    </p>
    <input type="submit" value="가입 완료">
</form>
</div>
</body>
</html>
